* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  padding: 4vh;
  background-color: #ffe92e;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-image: url("https://i.postimg.cc/DZyVVNWP/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92vw;
  height: 10vh;
  padding: 0 10px;
  background-color: #000000;
}

a {
  color: #ffe92e;
  text-decoration: none;
}

nav .menu {
  display: none;
  list-style: none;
}
nav .menu li a {
  color: #ffffff;
}
nav .menu li a:hover {
  color: #ffe92e;
}
nav .menu li .btn {
  color: #ffe92e;
}
nav .show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 44vw;
  height: 120px;
  gap: 8px;
  padding: 0 10px;
  position: absolute;
  top: 80px;
  left: calc(100% - 48vw);
  background-color: #000000;
}
nav .burger {
  cursor: pointer;
}
nav .burger .bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
}

.main {
  width: 92vw;
  height: 82vh;
}
.main .main__data {
  /* width: 45vw; */
  height: 42vh;
  display: grid;
  align-content: center;
  gap: 12px;
  padding: 0 10px;
}
.main .main__data h3 {
  font-weight: lighter;
}
.main .main__data h2 {
  width: 45vw;
}
.main .main__data .data__order {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
}
.main .main__data .data__order .prices {
  /* display: grid;
  gap: 5px; */
}
.main .main__data .data__order .prices .prev {
  font-size: 14px;
  font-weight: bolder;
  color: #aaa;
  text-decoration: line-through;
}
.main .main__data .data__order .prices .now {
  font-size: 22px;
  font-weight: bolder;
}
.main .main__data .data__order .buy .btn-cta {
  display: flex;
  justify-content: center;
  background-color: #ffe92e;
  color: #000000;
  border-radius: 50px;
  padding: 12px 20px;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  font-weight: bolder;
}
.main .main__data .data__order .buy .btn-cta:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 50px;
  padding: 12px 20px;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  font-weight: bolder;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

.saucer {
  background-image: url("https://i.postimg.cc/nL18PxLL/saucer.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 92vw;
  height: 40vh;
}

/* Responsive */
@media (min-width: 420px) {
  nav .show {
    width: 92vw;
    left: calc(50% - 46vw);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
  nav .show .menu li .btn-cta {
    background-color: #ffe92e;
    color: #000000;
    border-radius: 50px;
    padding: 12px 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-weight: bolder;
  }
}
@media (min-width: 680px) {
  header {
    height: 15vh;
    display: flex;
    align-content: center;
    background-color: transparent;
    padding: 0 4vh;
  }
  header a {
    color: #000000;
  }
  nav .show {
    display: none;
  }
  nav .menu {
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: static;
    background-color: transparent;
  }
  nav .menu li a {
    background-color: #ffffff;
    color: #aaa;
    border-radius: 50px;
    padding: 12px 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-weight: bolder;
  }
  nav .menu li a:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
    padding: 12px 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
  }
  nav .menu li .btn-cta {
    background-color: #ffe92e;
    color: #000000;
    border-radius: 50px;
    padding: 12px 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-weight: bolder;
  }
  nav .menu li .btn-cta:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
    padding: 12px 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-weight: bolder;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
  }
  nav .burger {
    display: none;
  }
  .main {
    width: 92vw;
    height: 77vh;
    display: grid;
    grid-template-columns: 42vw 42vw;
    justify-content: center;
    padding: 0 4vh;
    /* gap: 2vw; */
  }
  .main .main__data {
    height: auto;
    display: grid;
    align-content: center;
    justify-content: space-around;
    gap: 20px;
    padding: 0 0;
  }
  .main .main__data h3 {
    width: 42vw;
    max-width: 300px;
    font-weight: lighter;
    font-size: 24px;
  }
  .main .main__data h2 {
    width: 42vw;
    max-width: 300px;
    font-size: 48px;
  }
  .main .main__data p {
    max-width: 300px;
  }
  .main .main__data .data__order {
    max-width: 300px;
  }
  .main .main__data .data__order .prices .prev {
    font-size: 16px;
  }
  .main .main__data .data__order .prices .now {
    font-size: 40px;
  }
  .main .saucer {
    width: 100%;
    height: 100%;
    background-position: left;
  }
}
@media (min-width: 980px) {
  nav .menu {
    width: 52vw;
  }
  nav .menu li a {
    background-color: #ffffff;
    color: #aaa;
    border-radius: 50px;
    padding: 17px 25px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-weight: bolder;
  }
  nav .menu li a:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
    padding: 17px 25px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
  }
  nav .menu li .btn-cta {
    background-color: #ffe92e;
    color: #000000;
    border-radius: 50px;
    padding: 20px 30px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-weight: bolder;
  }
  nav .menu li .btn-cta:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
    padding: 20px 30px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-weight: bolder;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
  }
  .main .main__data .data__order {
    grid-template-columns: 1fr 1fr;
    max-width: 300px;
  }
  .main .main__data .buy .btn.btn-cta {
    background-color: #ffe92e;
    color: #000000;
    border-radius: 50px;
    padding: 20px 30px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-weight: bolder;
  }
  .main .main__data .buy .btn.btn-cta:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
    padding: 20px 30px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-weight: bolder;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
  }
}
/* Ctr +  Q*/

/*# sourceMappingURL=main.css.map */
